{%extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">       
        <div class="photos ">
            <img src="/static/photos/phone.jpg" class="img-fluid" id="phone" alt="">
        </div>
        <div class="card my-4 p-2 w-25 mx-auto" id="login">
            <div class="card-body">
                <img src="/static/photos/gram.png" class="img-fluid" id="head" alt="Instagram">

                <form action="/accounts/login/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary btn-sm">Log in</button>
                </form>
                <br>
                <div>
                    <p>Don't have an account? <a class="card-link" href="/accounts/register">Sign up</a> </p>
                    <div class="bottom">
                        <p class="text-center">Get the app.</p>
                    </div>
                </div>
                <div class="card-link" id="download">
                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3DW8y-VwAEAAFzL8uOWvX6vzFqELvq%26utm_content%3Dlo%26utm_medium%3Dbadge"><img src="/static/photos/playstore.png" class="img-fluid" alt="App available on Google Play" width="200"></a>
                </div>
                <br>
                <div class="card-link" id="download">
                    <a href="https://itunes.apple.com/app/instagram/id389801252?mt=8&vt=lo"><img src="/static/photos/appstore.png" class="img-fluid" alt="Available on the App store" width="200">
                    </a>
                </div>
            </div>
        </div>
    </div>         
</div>

{% endblock %}