{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="card my-5 w-25 mx-auto text-center" id=register>
        <div class="card-body">
            <img src="/static/photos/gram.png" class="img-fluid" id="head" alt="Instagram">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-sm">Register</button>
            </form>
            <p>Have an account? <a href="/accounts/login">Log in</a></p>
        </div>
    </div>
</div>
{% endblock %}