{% extends 'base.html' %} {% block content %} {% load bootstrap4 %}
{{ block.super }}
<div class="container">
  <div class="row">
    {% for image in images %}
    <div class="col-sm-7 mx-auto mb-5">
      <div class="card">
        <div class="card-header bg-white">
          <img
            src="{{ image.user.profile.profile_pic.url }}"
            alt=""
            style="width:40px;height: 40px;border-radius: 50%"
          /><p class="card-text">{{ image.user.username }}</p>
        </div>
        <img src="{{ image.image.url }}" class="card-img-top" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
        <div class="card-body">
          {% autoescape on%}
          <p class="card-text">{{image.caption | safe}}</p>
          {% endautoescape%}
            <div id="likes">
              <button onclick="like('{{image.id}}')"><i class="fa fa-heart"></i></button>
              <strong><span id="likespan{{image.id}}">{{image.count_likes}}</span></strong>
            </div>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token%}
            <input type="hidden" name="idhey" style="position:relative;left:10px" value='{{image.id}}'>
            {% bootstrap_form form %}
            <div class="form-group">
                <button type="submit" class="btn btn-sucess btn-sm">Comment</button>
            </div>
        </form>
          {% for comment in image.comments.all%}
          {% autoescape on%}
          <p>{{ comment.comment | safe }}</p>
          {% endautoescape%} 
          {% endfor %}
        </div>
      </div>
    </div>
  {%endfor%}
  </div>
    {% for image in images %}
  <!-- Modal -->
  <div id="{{image.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog image">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title">{{image.name}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img src="{{image.image.url}}" alt="" class="img-fluid">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 0.5px solid #d3d3d3;">Close</button>
        </div>
      </div>

    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}
