{% extends 'profile/base.html' %}
{%load static%}
{{ block.super }}
{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying Username -->
        <div class="col-md-6">
            <div id="profile">
                <h3> {{user.username }} </h3>
                <!--Display profile photo-->
                {% if user.profile.profile_pic %}
                    <img style="border: 1px black solid" src="{{user.profile.profile_pic.url}}" alt="picture" class="img-thumbnail">
                    {% else %}
                    <img src="/media/profile_pic/default.jpeg" alt="">
                {% endif %}
                <!--Displaying user info-->
                {% if user.profile.bio %}
                {% autoescape on%}
                <p> {{user.profile.bio | safe}} </p>
                {% endautoescape%}
                {% else %}
                <p> {{user.username}} has no bio </p>
                {% endif %}
                <div class="row">
                    <p class="col-md-6"><a href="{% url 'update_profile'  request.user.id %}">Edit profile</a></p>
                    <p class="col-md-6"><a href="{% url 'new_image'%}">New post</a></p>
                </div>
            </div>
            <div>
                <!-- Displaying posts -->
                {% if user.posts %}
                <h3>No of posts: {{user.posts.all.count}}</h3>
                {%endif%}
                {%if user.followers%}
                <h3>Followers: {{user.followers.all.count}}</h3>
                {%endif%}
                {%if user.following%}
                <h3>Following: {{user.posts.all.count}}</h3>
                {%endif%}
            </div>
            <!-- Posts -->
            <div id="post">
                <h3 class="text-center my-5">Posts</h3>
                {% for post in posts%}
                    <div class="card">
                        <div class="card-header bg-white">
                            <img src="{{ post.user.profile.profile_pic.url }}" alt="" style="width:40px;height: 40px;border-radius: 50%">
                            <p class="card-text">{{ post.user.username }}</p>
                        </div>
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Image">
                        <div class="card-body"></div>
                            {% autoescape on%}
                            <p class="card-text">{{post.image.caption | safe}}</p>
                            {% endautoescape%}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>    
{%endblock%}